
<% @posts.each do |post|%> 
  <div class="box_content_center "  >
    <div class="row top_post">
      <div class="col-sm-11 col-md-11">
         <div class="current_account btn">
            <div class="img_user">
              <i class="bi bi-person-bounding-box" style="font-size: 22px; color: cornflowerblue;"></i>
            </div>

            <div class="name_user">
              <%user= User.find(post.user_id)%>
              <%= user.first_name+" "+user.last_name%>
            </div>
          </div>
      </div>
    
      <div class="col-sm-1 col-md-1">
      
          <div class="detail">
            <%if user.id == current_user.id%>
              <%=link_to '<i class="bi bi-three-dots-vertical" style="font-size: 2rem; color: cornflowerblue;"></i>'.html_safe, edit_post_path(post), class:"link"%>
            <%end%>
          </div>
       
      </div>
    </div>
  
    <div class="row box_center">
      <div class="col-md-12">
        <div class="conten">
          <%= post.content%>
        </div>

        <div class="image">
          <% if post.image.persisted? %>
            <%= image_tag post.image %>
          <%end%>
        </div>
      </div>

    </div>

    <div class="count_like" id="post_<%=post.id %>"> 
      <%=(Like.active post.id).size%>
    </div>
    
    <div class="row bottom_post">
      <div class="col-sm-9 col-md-9">
        <%@like_exit=Like.exists?(user_id: current_user.id, post_id: post.id)%>
        <%if @like_exit%>
         <%= link_to '<i class="bi bi-hand-thumbs-up-fill" style="font-size: 26px; color: #1a4eeaf2;"></i>'.html_safe, likes_url(user_id: current_user.id, post_id: post.id), method: :post,remote: true, class:"like  create_link" %>

        <% else %>
         <%= link_to '<i class="bi bi-hand-thumbs-up" style="font-size: 26px; color: cornflowerblue;"></i>'.html_safe, likes_url(user_id: current_user.id, post_id: post.id), method: :post,remote: true , class:"like  create_link"%>
        <%end%>
      </div>

      <div class="col-sm-3 col-md-3">
        <%= link_to "Comment", post_comments_url(post_id: post.id),class:"link " %>
      </div>


    </div>
  </div>

<%end%>